
<!-- saved from url=(0073)http://csb.stanford.edu/class/public/pages/sykes_webdesign/05_simple.html -->
<html class="gr__csb_stanford_edu"><head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>A very simple webpage</title>
<basefont size="4">
</head>

<body bgcolor="FFFFFF" data-gr-c-s-loaded="true">

<h1>Welcome to the profile of <%=person%></h1>
<p><strong>Age: </strong> <%=data.age%></p>
<p>This is a standard paragraph.</p>

<p align="center">Now I've aligned it in the center of the screen.</p>



<p>Remember, you can view the HTMl code from this or any other page by using the "View Page Source" command of your browser.</p>




</body></html>